.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container .divider {
    border-top: 1px solid #ddd;
}

.container .alert {
    height: auto;
    padding: 10px;
}

form.form-horizontal {
    margin-bottom: 20px;
}

.table {
    table-layout:fixed;
    margin: 5px auto 0;
    font-size: 12px;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .col-number {
    width: 30px;
}